<footer>
    <div class="f-info">
        <div class="f-info-socials">
           <a href="https://www.facebook.com/profile.php?id=100055632531201"><i class="fa-brands fa-facebook"></i></a> 
            <a href="www.linkedin.com/in/hemant-kumar-63bbb2257"><i class="fa-brands fa-linkedin"></i></a>
            <a href="hemantyadav5644"><i class="fa-brands fa-square-instagram"></i></a>
        </div>
        <div>&copy;TravelStay Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>